<div class="main">
  <h1>Erotic Library System</h1>

  <h4><button class="btn"><a href="/books">View Books (+18)</a></button></h4>
  <h4><button class="btn"><a href="/authors"> View Authors </a></button></h4>
  <h4><button class="btn"><a href="/patrons">View Patrons</a></button></h4>
</div>
